body {
  background-color: grey;
}

#Heading {
  margin-top: 50px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.container {
  place-items: center;
  /* width: 300px; */
}

#celc {
  height: 100px;
  background-color: lightgray;
  border: 1px;
  border-radius: 5px;
}

#fahr {
  height: 100px;
  background-color: lightgray;
  border-radius: 5px;
}
#F2C {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
#C2F {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
